body {
	overflow: hidden;
}

#titlePanel {
    width: 100%;
    display: block;
    position: relative;
    z-index: 20;
    background-color: #fff;
}


.titleText {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
    letter-spacing: 2pt;
    word-spacing: 6pt;
    font-size: 50px;
    text-align: left;
    font-family: arial, helvetica, sans-serif;
    line-height:1;
   
    margin: 5px;
}


#auxPanel {
	background-color: #fff;
	width: 20%;
	height: 100vh;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	z-index: 901;
}

#auxContentDiv {
	height: 100%;
}

#tableId {
	border: 5px #fff solid;
	font: 12px sans-serif;
	overflow-y: scroll;
	max-width: 100%;
	max-height: 100%;
	display: block;
}

#tableId td {
	padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 5em; 
    padding-right: 5em;
}

#miniChart {
	overflow-x: hidden;
	overflow-y: hidden;
	max-height: 100%;
	max-width: 100%;
	display: block;
}

#consoleChart {
	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 100%;
	display: none;
}

#consoleChart td {
	padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em; 
    padding-right: .5em;
}

#legendChart tr {
	border-bottom: 10px solid #fff;
}

#legendChart td{
	border-right: 5px solid #fff;
}

#consoleChart tr:nth-child(even){
	background-color: #fff;
	border-bottom: 5px solid #fff;
}

#consoleChart tr:nth-child(odd) {
	background-color: lightgrey;
	border-bottom: 5px solid lightgrey;
}

#auxContentDiv table {
	border: none;
}

#tablePanel {
	width: 80%;
	height: 100vh;
	float: right;
	background-color: #fff;
	color: #555;
}


#tableId td {
	padding: 0px;	
	overflow: hidden;
	padding: 10px;
	height: 25px;
	border: 5px solid white;
	width: 100px;
}

#tableId tr {
	position: relative;
	height: 1px;
	border: 5px solid white;
	overflow: hidden;
}

#auxContentDiv svg {
	height: 10px;
	display: block;
}

#tablePanel rect {
	height: 100%;
	display: block;
}

#tablePanel svg {
	height: 25px;
	display: block;
}

#tablePanel text {
	position: relative;
}

.focalRow {
	border: 2px #fff solid;
}

.disabledAttribute {
	opacity: 0.3;
}

#tableId td {
	padding: 0px;
	border: 3px #fff solid;
}

#tableId .overlayBar {
	display: block;
	float: left;
	color: #555;
	position: relative;
}

.columnChartName {
	float: left;
}

.columnChartVal {
	float:right;
}

.hidden {
	display:none;
}

.visible {
	display: block;
}


.tooltipMiniChart {
    font-size: 5em;
    height: 100px;
    width: 150px;
    padding: 50px;
    color: white; 
    z-index: 99;
    bottom: 10px;
}

.pseudoDivWrapper {
	background-color: #fff;
	z-index: 900;
}

.pseudoHeader {
	color: #555;
	background-color: #fff;	
}

.miniMapSvg{
    display: block;
}

.miniMapRect {
    display: inline;
}

.miniDotSvg {
    display: inline;
}

#checkboxButtons {
	background-color: #fff;
	color: #555;
	padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em; 
    padding-right: .5em;
}

.nav-pills a {
	background-color: #f2f2f2;
	color: #555;
	padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em; 
    padding-right: 1em;
}