body {
	overflow: hidden;
}

#titlePanel {
    width: 100%;
    display: block;
    position: relative;
    z-index: 20;
    background-color: white;
}


.titleText {
    text-shadow: 1px 1px 1px rgba(56,56,56,0.8);
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2pt;
    word-spacing: 6pt;
    font-size: 50px;
    text-align: left;
    font-family: arial, helvetica, sans-serif;
    line-height:1;
   
    margin: 5px;
}


#auxPanel {
	width: 20%;
	height: 100vh;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	position: relative;
	z-index: 20;
}

#auxContentDiv {
	height: 100%;
}

#tableId {
	border: 2px #f2f2f2 solid;
	font: 12px sans-serif;
	overflow-y: scroll;
	max-width: 100%;
	max-height: 100%;
	display: block;
}

#miniChart {
	overflow-x: hidden;
	overflow-y: hidden;
	max-height: 100%;
	max-width: 100%;
	display: block;
}

#consoleChart {
	overflow-x: hidden;
	overflow-y: hidden;
	
	max-width: 100%;
	display: none;
}

#auxContentDiv table {
	border: none;
}

#tablePanel {
	width: 80%;
	height: 100vh;
	float: right;
}


#tableId td {
	padding: 0px;	
	overflow: hidden;
	padding: 10px;
	height: 25px;
}

#tableId tr {
	position: relative;
	height: 1px;
	overflow: hidden;
}

#auxContentDiv svg {
	height: 10px;
	display: block;
}

#tablePanel rect {
	height: 100%;
	display: block;
}

#tablePanel svg {
	height: 25px;
	display: block;
}

.focalRow {
	border: 2px #000 solid;
}

.disabledAttribute {
	opacity: 0.3;
}

.tableSeperator {
	border-right: 0px #555  solid;
}

#tableId td {
	border: 1px #f2f2f2 solid;
}


.columnChartName {
	float: left;
}

.columnChartVal {
	float:right;
}

.hidden {
	display:none;
}

.visible {
	display: block;
}

.tooltipTest {
    font-size: 5em;
    height: 100px;
    width: 150px;
    padding: 50px;
    color: white; 
    z-index: 99;
    bottom: 10px;
}

.pseudoDivWrapper {
	background-color: #555;
}

.pseudoHeader {
	color: #FFF;
	background-color: #555;	
}